[defaults]
inventory = ~/automation/automation_project_n01610736/ansible/hosts
host_key_checking = False
deprecation_warnings = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False